<div class="signin-form">
  <h1>Sign In</h1>
  <%= form_tag session_path do %>
      <%= text_field_tag('email', nil, class: 'input-medium form-group form-control', placeholder:'Email') %>
      <%= password_field_tag('password', nil, class: 'input-medium form-group form-control', placeholder:'Password') %>
      <%= submit_tag "Log In", :class => 'btn btn-primary'%>
  <% end %>
</div>