<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p><%= @driver.username %> has been added as the driver of the trip from <%= @ride.from %> to <%= @ride.to %> on <%= @ride.ride_date %>. </p>
    <p>
      Go to this drives home page to access more information on your new driver.
    </p>
    <p>
      Good luck!
    </p>
    <p>- PogoRide Team</p>
  </body>
</html>