<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Driver left the ride.</h1>
    <p>Your driver, <%= @driver.username %>, of the trip from <%= @ride.from %> to <%= @ride.to %> on <%= @ride.ride_date %> has decided to leave the drive. </p>
    <p>
      Go to this drives home page to discuss options with your fellow passengers. If you're running out of time and in Vancouver, check out Modo the car co-op: (<a href="http://www.modo.coop/">Modo Co-Op</a>).
    </p>
    <p>
      Good luck!
    </p>
    <p>- PogoRide Team</p>
  </body>
</html>