<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there <%= @new_user.username %> and welcome to PogoRide!</h1>
    <p>
      You have just become a member of Vancouver's rapidly growing ride-share community!
    </p>
    <p>
      Create or request a ride, be respectful, and stay safe!
    </p>
    <p>- PogoRide Team</p>
  </body>
</html>