/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*Top level / Global CSS */

.container {
  max-width:1200px; 
  margin:0 auto; 
  display:block;
}

.row {
  margin:0;
}

.row .row {
  margin:0;
}

body {
  background:url(./images/chruch.png) repeat #ddd; 
  font-family: 'Pontano Sans', sans-serif; 
  font-weight:400; 
  font-size:16px; 
  color:#555;
}

h1,h2,h3 {
  line-height:1.25em;
}

h1 {
  color:#fff; 
  font-size:7em; 
  margin-top:30px;
}

#logo img {
  max-width:400px; 
  height:auto;
}

h1 a {
  color:#fff;
}

h1 a:hover, h1 a:active, h1 a:focus {
  color:#fff; 
  text-decoration:none;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-weight:300; 
  font-size:3em;
}

.whitetxt {
  color:#fff
}

.findInn h2 {
  text-shadow: 1px 1px #aaa; 
}

h3 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400; 
  font-size:1.75em;
}

h4 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400;
}

.btn {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400;
}

p {
  font-size:1.125em; 
  line-height:1.45em;
}

a {
  color:#0184d1;
}

.largetext {
  font-size:1.5em;
}

.fleft {
  float:left;
}

.fright {
  float:right;
}

ul {
  margin-left:0;
}

ul li {
  list-style-type: none;
}

.glyphicon {
  padding:0 5px;
}

/* large desktop ------------------------------------------------------------------------------------ */

@media (min-width: 1200px) {
  #homeContent .searchBox {
    padding-bottom:0px;
  }
  .whitebox {
    display:none;
  }
} /*1200 close*/

/* desktop ------------------------------------------------------------------------------------------ */
@media (min-width: 992px) and (max-width:1199px) { 
  #homeContent .searchBox {
    padding-bottom:0px;
  }
  .container {
    padding-left:15px; 
    padding-right:15px;
  }
  .whitebox {
    display:none;
  }
} /*980-1199 close*/ 

/* portrait tablet to landscape and desktop --------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) { 

#homeContent .searchBox {padding-bottom:0px;}
.container {padding-left:15px; padding-right:15px;}

header .nav li a {padding:10px 5px;}

.searchbig  {width:20%; margin-right:6px;}
.searchsm {width:20%; margin-right:6px;}
.datesm {width:20%; margin-right:6px;}

.whitebox {display:none;}

#aboutTxt .fleft {width:100px; height:auto;}

} /*768-979 close*/

/* landscape phone to portrait tablet --------------------------------------------------------------- */
@media (max-width: 768px) {

#homeContent .searchBox {padding-bottom:0px;}
.container {padding-left:15px; padding-right:15px;}
body {padding:0;}

h1 {text-align:center;}
#logo img {width:90%;}

header .navbar {margin-top:0px; background:none;}
header .navbar .navbar-brand {display:block;}
header .nav li {float:none; margin-bottom:10px; display:inline-block;}
header .nav {float:none; text-align:center;}
#homeContent {margin-top:0px;}

.searchbig  {width:100%; padding-bottom:10px;}
.searchsm {width:48%; padding-bottom:10px; margin-right:0px; }
.datesm {width:48%; padding-bottom:10px; margin-right:4%;}

#searchARideForm .searchBtn {float:right; margin:0;}

#map {display:none;}
#intro {padding-top:60px; padding-bottom:30px;}
#mapContent, #mapInner, #mapScroll {top:0px;}

#aboutTxt {text-align:center;}
#aboutTxt .fleft {float:none; padding:20px 0 0; max-width:80%; height:auto; margin:0 auto;}
#aboutTxt h2 {padding-top:0;}

#aboutFirst h2 {width:100%; margin:10px 0 10px; padding:0; background:none; border-radius:0; border-top:none;}

footer .col-lg-3 {width:48% !important; display:inline-block !important;}

} /*767 close*/

/* landscape phones and down ------------------------------------------------------------------------ */

@media (max-width: 400px) { 
  body {
    font-size:12px;
  }
  h1 {
    text-align:center;
  }
  #logo img {
    width:100%; 
    height:auto;
  }
  #searchARideForm .searchsm .custom-combobox-input {
    width:75%;
  }
  .dashboard-bg .listrideBox #listARideForm .common-row {
    width:100%;
  }

  .dashboard-bg #start_time_list {
    max-width:100%;
  }

  footer .col-lg-3 {
    width:100% !important;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, 
  .col-xs-4, .col-xs-5, .col-xs-6, 
  .col-xs-7, .col-xs-8, .col-xs-9, 
  .col-xs-10, .col-xs-11, .col-xs-12, 
  .col-sm-1, .col-sm-2, .col-sm-3, 
  .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, 
  .col-sm-10, .col-sm-11, .col-sm-12, 
  .col-md-1, .col-md-2, .col-md-3, 
  .col-md-4, .col-md-5, .col-md-6, 
  .col-md-7, .col-md-8, .col-md-9, 
  .col-md-10, .col-md-11, .col-md-12, 
  .col-lg-1, .col-lg-2, .col-lg-3, 
  .col-lg-4, .col-lg-5, .col-lg-6, 
  .col-lg-7, .col-lg-8, .col-lg-9, 
  .col-lg-10, .col-lg-11, .col-lg-12 {
    padding:0;
  }
} /*400 close*/

/* iPad portrait ------------------------------------------------------------------------------------ */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

} /*iPad portrait close*/

/* iPad landscape ----------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    
} /*iPad landscape close*/

@media (min-width: 480px) and (max-width:640px) {
  nav.navbar ul.nav{
    margin: auto;
    width: 450px;
  }
  nav.navbar ul.nav li{
    float: left !important;
  }
}

@media (min-width: 700px) and (max-width:800px) {
 nav.navbar{ padding-top: 70px;""
}
