/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

/*Top level / Global CSS */

body {
  /*background:url(https://www.pogoride.com/css/images/chruch.png) repeat #ddd; */
  background-color: rgba(226,226,230,1);
  font-family: 'Pontano Sans', sans-serif; 
  font-weight: 400; 
  font-size: 16px; 
  color: #555;
}

h1,h2,h3 {
  line-height: 1.25em;
}

h1 {
  color: #fff; 
  font-size: 7em; 
  margin-top: 30px;
}

#logo img {
  max-width: 400px; 
  height: auto;
  margin-left: 5%;
}

@media (max-width: 767px) {
  #logo img {   
    max-width: 260px; 
  }
}

h1 a {
  color: #fff;
}

h1 a:hover, h1 a:active, h1 a:focus {
  color: #fff; 
  text-decoration: none;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-weight: lighter; 
  font-size: 3em;
}

.header-text {
  color: #fff;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif; 
}

.findInn h2 {
  text-shadow: 1px 1px #aaa; 
}

h3 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight: 400; 
  font-size: 1.75em;
}

h4 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight: 400;
}

.btn {
  font-family: 'Droid Sans', sans-serif; 
  font-weight: 400;
}

p {
  font-size: 1.125em; 
  line-height: 1.45em;
}

a {
  color: #0184d1;
}

.largetext {
  font-size: 1.5em;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

ul {
  margin-left: 0;
}

ul li {
  list-style-type: none;
}

.glyphicon {
  padding: 0 5px;
}


