/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*Top level / Global CSS */

.container {
  max-width:1200px; 
  margin:0 auto; 
  display:block;
}

.row {
  margin:0;
}

.row .row {
  margin:0;
}

body {
  background:url(./images/chruch.png) repeat #ddd; 
  font-family: 'Pontano Sans', sans-serif; 
  font-weight:400; 
  font-size:16px; 
  color:#555;
}

h1,h2,h3 {
  line-height:1.25em;
}

h1 {
  color:#fff; 
  font-size:7em; 
  margin-top:30px;
}

#logo img {
  max-width:400px; 
  height:auto;
}

h1 a {
  color:#fff;
}

h1 a:hover, h1 a:active, h1 a:focus {
  color:#fff; 
  text-decoration:none;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-weight:300; 
  font-size:3em;
}

.whitetxt {
  color:#fff
}

.findInn h2 {
  text-shadow: 1px 1px #aaa; 
}

h3 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400; 
  font-size:1.75em;
}

h4 {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400;
}

.btn {
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400;
}

p {
  font-size:1.125em; 
  line-height:1.45em;
}

a {
  color:#0184d1;
}

.largetext {
  font-size:1.5em;
}

.fleft {
  float:left;
}

.fright {
  float:right;
}

ul {
  margin-left:0;
}

ul li {
  list-style-type: none;
}

.glyphicon {
  padding:0 5px;
}

/*------- Header CSS -------*/
header .navbar {
  margin-top:120px; 
  background:none;
}

header .navbar .navbar-brand {
  display:none;
}

header .nav {
  float:right;
}

header .nav li {
  background:#0184d1; 
  margin-right:10px; 
  border-radius:3px; 
  float:left;
}

header .nav li a {
  background:#f5f5f5; 
  border-radius:3px; 
  text-shadow:none !important; 
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400; color:#0184d1 !important;
  position:relative; 
  top:-4px; left:-4px;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}

.modal a.facebk_button2{
  max-width:100%; 
  border-radius:5px; 
  height: 44px !important; 
  width: 300px !important; 
  background:url(./images/active_600.png) no-repeat left top; 
  margin:5px auto;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
  display:block;
}

.modal a.facebk_button2:hover{
  background:url(./images/pressed_600.png) no-repeat left top !important;
}

.facebk_button {background:url(./images/active_600.png) repeat #ddd !important; 
  font-family: 'Droid Sans', sans-serif; 
  font-weight:400; 
  color:#0184d1 !important;
  position:relative; 
  top:-4px; left:-4px;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
}

.facebk-button-two{ 
  background: none !important;
}

header .nav li.facebk-button-two a{ 
  height: 44px; width: 300px; 
  background:url(./images/pressed_600.png) no-repeat left top;
}

header .nav li.facebk-button-two a:hover {
  background:url(./images/pressed_600.png) no-repeat left top !important;
}

header .nav li a:hover {
  background:#fff !important;
  left:0;
}

header .nav li a:active {
  top:0;
}

.navbar .btn-navbar .icon-bar {
  float:left; clear:left;
}

.menuText {
  float:right; 
  color:#333; 
  text-shadow:none; 
  margin:-10px 0 0 10px;
}

.dropdown-menu {
  background:none; 
  box-shadow:none; 
  border:none;
}
.dropdown-menu li {
  margin-bottom:8px;
}

#homeContent {
  margin-top:40px;
}

#homeBg {
  background:url(./images/alps_bg_1620_3.jpg) no-repeat center center; 
  background-size:cover; 
  width:100%; 
  position:relative; 
  z-index:10;
}

#homeBgDark {
  width:100%; 
  height:100%; 
  background-color:rgba(0,0,0,.35);
}

/*------- FORM imput CSS -------*/

input:focus, input:active {
  box-shadow:none !important;
}

.common-row {
  float:left; 
  margin-right:6px;
}

.searchbig  {
  width:25%; 
  padding-bottom:10px; 
  margin-right:16px;
}

.searchsm {
  width:15%; 
  padding-bottom:10px; 
  margin-right:16px;
}

.datesm {
  width:15%; 
  padding-bottom:10px; 
  margin-right:16px;
}

#start_time {
  font-size:1.1em; 
  cursor:text; 
  margin-bottom:0; 
  padding: 9px 4% 9px 4%; 
  width:100%; 
  color:#939498; 
  border:none; 
  border-radius:3px;
}

#searchARideForm .ui-widget {
  margin-right:0px;
}

#searchARideForm #submitbutton {
  padding:9px 20px;
}

#searchARideForm .custom-combobox-input {
  width:80%;
}

#searchARideForm .ui-button {
  float:right; padding:9px;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family:'Droid Sans', sans-serif; 
  font-weight:400;
}

.ui-widget {
  color:#888 !important; 
  z-index:1000 !important;
}

.ui-widget .ui-widget {
  color:#888;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background:none; border:none;
}

.ui-corner-all {
  border-radius:2px !important;
}

.ui-widget-content {
  border:none;
}

.ui-autocomplete, .ui-datepicker {
  box-shadow:0 0 3px #0e94df;
}

.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background:#0184d1;
  border:none; 
  margin:0; 
  color:#fff; 
  border-radius:3px;
}

.ui-datepicker-header {
  background:#0184d1; 
  border:none; 
  color:#fff;
}

.btn-primary {
  padding:10px 20px; 
  font-size:1.25em; 
  background-color:#0184d1 !important;
}
  
  /*changes on 31oct*/
  .center-fields{
    text-align:center;
    display:block;
    margin-bottom: 7px;
  }

  .center-fields input{
    width:60%;
  }

  .btn-small {
    background-color:#0184d1 !important;
    color:white;
  } 
  /*end changes on 31oct*/
  
.ui-datepicker-calendar .ui-state-active{ 
  background: #0184d1; 
  border-radius:2px !important; 
  color: white;
}

.ui-datepicker-calendar .ui-state-hover{ 
  border-radius:2px !important; 
  color: white;
}

.ui_tpicker_hour_slider { 
  border: 1px solid #666; 
  margin-top: 7px;
}

.ui_tpicker_hour_slider .ui-slider-handle { 
  border: 1px solid #666; 
  background:#666;
}

.ui_tpicker_hour_slider .ui-slider-handle.ui-state-focus, 
.ui_tpicker_hour_slider .ui-slider-handle.ui-state-hover { 
  border: none; 
  background:#0184d1; 
  margin-left:-0.6em;
}


/*------- Dashboard page load animation -------*/
@-webkit-keyframes moveup {
  0%   { padding-bottom:400px; }
  100% { padding-bottom:20px; }
}
@-moz-keyframes moveup {
  0%   { padding-bottom:400px; }
  100% { padding-bottom:20px; }
}
@-o-keyframes moveup {
  0%   { padding-bottom:400px; }
  100% { padding-bottom:20px; }
}
@keyframes moveup {
  0%   { padding-bottom:400px; }
  100% { padding-bottom:20px; }
}

#dash {min-height:150px;}

#dashSearch {
  -webkit-animation: moveup 1s 1; /* Safari 4+ */
  -moz-animation:    moveup 1s 1; /* Fx 5+ */
  -o-animation:      moveup 1s 1; /* Opera 12+ */
  animation:         moveup 1s 1; /* IE 10+ */
  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  padding-bottom:20px;
}


/*------- Dashboard CSS -------*/

#dashboard-tab {
  margin-top:30px;
  background:#fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065)}

#dashboard-tab .nav li a:focus  {
  background:#d5d5d5; 
  outline:none;
}

.navbar-default {
  background-color:#fff;
}

.navbar-brand, .navbar-brand:hover {
  color:#aaa !important;
}

#dash .navbar {
  margin-top:30px;
}

#dash .nav .active a {
  background-color: #0184d1;
  color: #fff;
}

#dash .nav .active a:hover {
  background-color: #0184d1; 
  color: #fff;
}

#dash .nav li a:hover {
  color:#0184d1;
  background-color:#eee;
}

.dashboard-bg {
  background:#fff; border-radius:3px; margin:0 0 30px; padding:20px; float:left; width:100%; min-height:300px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.dashboard-bg h3 {
  margin-top:0px;
}

.profile-image {
  padding:0;
}

#user_profile_image {
  background:#ddd; 
  padding:4px; 
  width:90%; 
  height:auto;
}

/*------- Footer CSS -------*/

footer {
  background:url(./images/denim.png) repeat; 
  color:#ddd;
}

footer ul {
  padding-left:0; 
  margin:0;
}

footer li {
  float:left; 
  margin: 0 10px 10px 0;
}

footer li a {
  color:#ddd; 
  padding:5px 5px; 
  display:block; 
  font-size:1.125em;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

footer a:hover {
  color:#666; 
  background:#eee; 
  text-decoration:none;
}

footer p {
  padding:5px 0;
}

.footer {
  background-color:rgba(20,20,20,.5); 
  padding-top:10px; 
  color:#999;
}

/* large desktop ------------------------------------------------------------------------------------ */

@media (min-width: 1200px) {
  #homeContent .searchBox {
    padding-bottom:0px;
  }
  .whitebox {
    display:none;
  }
} /*1200 close*/

/* desktop ------------------------------------------------------------------------------------------ */
@media (min-width: 992px) and (max-width:1199px) { 
  #homeContent .searchBox {
    padding-bottom:0px;
  }
  .container {
    padding-left:15px; 
    padding-right:15px;
  }
  .whitebox {
    display:none;
  }
} /*980-1199 close*/ 

/* portrait tablet to landscape and desktop --------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) { 

#homeContent .searchBox {padding-bottom:0px;}
.container {padding-left:15px; padding-right:15px;}

header .nav li a {padding:10px 5px;}

.searchbig  {width:20%; margin-right:6px;}
.searchsm {width:20%; margin-right:6px;}
.datesm {width:20%; margin-right:6px;}

.whitebox {display:none;}

#aboutTxt .fleft {width:100px; height:auto;}

} /*768-979 close*/

/* landscape phone to portrait tablet --------------------------------------------------------------- */
@media (max-width: 768px) {

#homeContent .searchBox {padding-bottom:0px;}
.container {padding-left:15px; padding-right:15px;}
body {padding:0;}

h1 {text-align:center;}
#logo img {width:90%;}

header .navbar {margin-top:0px; background:none;}
header .navbar .navbar-brand {display:block;}
header .nav li {float:none; margin-bottom:10px; display:inline-block;}
header .nav {float:none; text-align:center;}
#homeContent {margin-top:0px;}

.searchbig  {width:100%; padding-bottom:10px;}
.searchsm {width:48%; padding-bottom:10px; margin-right:0px; }
.datesm {width:48%; padding-bottom:10px; margin-right:4%;}

#searchARideForm .searchBtn {float:right; margin:0;}

#map {display:none;}
#intro {padding-top:60px; padding-bottom:30px;}
#mapContent, #mapInner, #mapScroll {top:0px;}

#aboutTxt {text-align:center;}
#aboutTxt .fleft {float:none; padding:20px 0 0; max-width:80%; height:auto; margin:0 auto;}
#aboutTxt h2 {padding-top:0;}

#aboutFirst h2 {width:100%; margin:10px 0 10px; padding:0; background:none; border-radius:0; border-top:none;

footer .col-lg-3 {width:48% !important; display:inline-block !important;}

} /*767 close*/

/* landscape phones and down ------------------------------------------------------------------------ */

@media (max-width: 400px) { 
  body {
    font-size:12px;
  }
  h1 {
    text-align:center;
  }
  #logo img {
    width:100%; 
    height:auto;
  }
  #searchARideForm .searchsm .custom-combobox-input {
    width:75%;
  }
  .dashboard-bg .listrideBox #listARideForm .common-row {
    width:100%;
  }

  .dashboard-bg #start_time_list {
    max-width:100%;
  }

  footer .col-lg-3 {
    width:100% !important;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, 
  .col-xs-4, .col-xs-5, .col-xs-6, 
  .col-xs-7, .col-xs-8, .col-xs-9, 
  .col-xs-10, .col-xs-11, .col-xs-12, 
  .col-sm-1, .col-sm-2, .col-sm-3, 
  .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, 
  .col-sm-10, .col-sm-11, .col-sm-12, 
  .col-md-1, .col-md-2, .col-md-3, 
  .col-md-4, .col-md-5, .col-md-6, 
  .col-md-7, .col-md-8, .col-md-9, 
  .col-md-10, .col-md-11, .col-md-12, 
  .col-lg-1, .col-lg-2, .col-lg-3, 
  .col-lg-4, .col-lg-5, .col-lg-6, 
  .col-lg-7, .col-lg-8, .col-lg-9, 
  .col-lg-10, .col-lg-11, .col-lg-12 {
    padding:0;
  }
} /*400 close*/

/* iPad portrait ------------------------------------------------------------------------------------ */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

} /*iPad portrait close*/

/* iPad landscape ----------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    
} /*iPad landscape close*/

@media (min-width: 480px) and (max-width:640px) {
  nav.navbar ul.nav{
    margin: auto;
    width: 450px;
  }
  nav.navbar ul.nav li{
    float: left !important;
  }
}

@media (min-width: 700px) and (max-width:800px) {
 nav.navbar{ padding-top: 70px;""
}
