@import "bootstrap";

/*------- Footer CSS -------*/
footer {
  color: #ddd;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  ul {
    padding-left: 0; 
    margin: 0;
  }
  li {
    margin: 0 10px 10px 0;
    a {
      color: #ddd; 
      padding: 5px 5px; 
      font-size: 1em;
      text-decoration: none;
      -moz-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
      &:hover {
        color: #666; 
        background: #eee; 
        text-decoration:none;
      }
    }
  }
  p {
    padding: 5px 0;
  }
  hr{
    margin: 0 0 10px;
  }
}

.footer {
  background-color: rgb(40,40,40); 
  padding-top: 10px; 
  color: #999;
  height: 270px;
}

footer .footfacebook, footer .foottwitter{ 
  -webkit-transition: background 0.3s ease; 
  -moz-transition: background 0.3s ease; 
  -ms-transition: background 0.3s ease; 
  -o-transition: background 0.3s ease; 
  transition: background 0.3s ease; 
  float: left; 
  display: block; 
  width: 30px; 
  height: 30px; 
  margin: -10px 10px 0;
}

footer .row div{  
  margin-top: 20px;
}

a.foottwitter{ 
  background: url('https://www.pogoride.com/css/images/socialmedia.png') no-repeat 0 0; 
  &:hover{ 
    background: url('https://www.pogoride.com/css/images/socialmedia.png') no-repeat 0 -39px; 
  }
}

a.footfacebook{ 
  background: url('https://www.pogoride.com/css/images/socialmedia.png') no-repeat -39px 0;
  &:hover{ 
    background: url('https://www.pogoride.com/css/images/socialmedia.png') no-repeat -39px -39px;
  }
}

.col-sm-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.flinks {
  margin-top: 30px;
  margin-bottom: 99px;
}
