@import "bootstrap";

/*------- Header SCSS -------*/

.hcontainer {
  top: -20px;
  left: 0px;
  height: 430px;
  background: url(https://www.pogoride.com/css/images/seattle-image-2.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative;
}

header .nav {
  float:right;
  li {
    margin-right: 10px;  
    float: left;
    a {
      background: #f5f5f5; 
      border-radius: 4px; 
      font-family: 'Droid Sans', sans-serif; 
      font-weight: 400; 
      color: #0184d1;
      position: relative; 
      border: 2px solid #0184d1;
      padding: 7px;
      text-decoration: none;
      &:hover {
        box-shadow: 0px 0px 4px 0px;
      }
    }
  }
}

header .navbar {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*------- FORM imput CSS -------*/

.btn-primary {
  padding: 10px 20px; 
  font-size: 1.25em; 
  background-color: #0184d1;
}

.main-search {
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 99;
  .form-control {
    display: inline-block;
    width: 18%;
    margin-right: 5px;
  }
  .btn-rides {
    border: 2px solid white;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: all 0.5s ease;
    &:hover {
     border: 2px solid white; 
    }
  }
}