// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #firstband{
  width: 100%;
  /*height: 600px;*/
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(226,226,230,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,226,230,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,226,230,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,226,230,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(226,226,230,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(226,226,230,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#newfirstband{
  position: absolute;
  top: 430;
  width: 100%;
  background:#FFF;
  position:relative;
}

#backseat img{
  border-radius:20px;
}

#driverbenefit .col-sm-2 {
  width: 13.666666666666664%;
}

#firstband img{
  width: 120px;
  /*display: block;*/
  float:left;
  margin-bottom:20px;
}

#firstband img:last-of-type{
  width: 100px;
}

#firstband p{
    float: left;
    font-size: 1.3em;
    padding-top: 19px;
    width: 171px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
  body #firstband p{
    float:none;
    text-align:center;
    margin: 10px auto;
  }
  body #firstband img{
    float:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  body #secondband img{
    width:110%;
    margin-left:-5%;
  }

  body #thirdband img.floatinggear{
    display:none;
  }

  body #thirdband ul.whypogoride li{
    text-align:center;
    list-style-type: none;
  }
  body #thirdband h3{
    margin-top:65px;
  }
  body #firstband h3.topmarg{
    margin-top:60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  body #secondband{
    height:600px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body #secondband{
    height:600px;
  }
  body #secondband p{
    font-size:1.45em;
  }
  body #secondband h2{
    font-size:2.2em;
  }
}
@media only screen and (max-width: 479px) {
  body #secondband{
    height:450px;
  }
  body #secondband p{
    font-size:1.3em;
  }
  body #secondband h2{
    font-size: 2em;
  }
}

#secondband{
  border-top:1px solid rgb(30,30,30);
  border-bottom:1px solid rgb(30,30,30);
  width: 100%;
  height:650px;
  overflow:hidden;
}

#secondband h2{
  margin-top: 60px; 
  margin-bottom: 30px; 
  color: #0184D1;
}

#secondband p{
  background: none;
  /*float: right;*/
  padding: 20px;
  color: #0184d1;
  font-size: 1.3em;
  line-height: 1.6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#secondband img{
  display: block;
  width:80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}

#thirdband{
  height:550px;
  width: 100%;
  background:#FFF;
  position:relative;
}

#thirdband h2{
  margin-top:40px;
}

#thirdband ul{
  margin-top: 60px;
}

#thirdband ul li{
  list-style-type: disc;
  font-size: 24px;
  line-height: 48px;
}

img.floatinggear{
  margin-top:5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#thirdband #bluebar{
  background-color: rgb(1, 132, 209);
  height:200px;
  position:absolute;
  top:150px;
  width:100%;
}

#firstband h3.numberoff{
  border-radius: 100px;
  padding: 19px 0px;
  color: rgb(255, 255, 255);
  width: 90px;
  height: 90px;
  font-size: 48px;
  margin: 10px auto;
  background-color:rgb(30,130,180);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

p {
  font-size: 1.125em;
  line-height: 1.45em;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
}