// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

// User Profile 

.profilecontainer {
  margin: 10px 10px 10px 10px;
  height: 300px;
  width: 75%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 0px 0px 3px;
  .profilebox {
    margin: 0px 20px 10px 0px;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }
}

.user-profile {
 h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
 }
}

.userdetails {
  margin-left: 50px;
  display: inline-block;
  height: 300px;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}

.joindate {
  font-weight: lighter;
}

.profileimg {
  width: 200px;
  height: 100%;
  margin-left: 50px;
}

.firstbandback {
  background-color: rgba(226,226,230,1);
}

body {
  background-color: white;
}

// User Sign In

.signin-form {
  text-align: center;
  margin-bottom: 30px;
  .input-medium {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
}

// User Sign Up

.signup-form {
  text-align: center;
  margin-bottom: 30px;
  .input-medium {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
  label {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
}

// User Navigation

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 3px solid #428bca;
}

.navbar-default .navbar-brand {
  color: #777777; 
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; 
}

.navbar-default .navbar-text {
  color: #777777; 
}

.navbar-default .navbar-nav > li > a {
  color: #777777; 
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7; 
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; 
}

.navbar-default .navbar-toggle {
  border: 1px solid #428bca;
  border-bottom: 3px solid #428bca;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #dddddd; 
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #428bca; 
}
 
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7; 
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555; 
}