// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.userdashboard {
  height: 50px;
  width: 100%;
  display: block;
  border-bottom: 3px solid #282828;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-weight: light;
  vertical-align: center;

  .nav {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

.profilecontainer {
  margin: 10px 10px 10px 10px;
  height: 300px;
  width: 75%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 0px 0px 3px;
  .profilebox {
    margin: 0px 20px 10px 0px;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }
}

.user-profile {
 h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
 }
}

.userdetails {
  margin-top: 10px;
  margin-left: 50px;
  display: inline-block;
  height: 300px;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}

.joindate {
  font-weight: lighter;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.profileimg {
  width: 200px;
  height: 100%;
  margin-left: 50px;
}

.firstbandback {
  background-color: rgba(226,226,230,1);
}

body {
  background-color: white;
}

.signin-form {
  text-align: center;
  margin-bottom: 30px;
  .input-medium {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
}

.signup-form {
  text-align: center;
  margin-bottom: 30px;
  .input-medium {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
  label {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
  }
}