<h1 class="text-center">My Rides</h1>

<div class="controls">
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Requests</button>
  <button class="filter active" data-filter=".category-2">Drives</button>
</div>

<div id="Container" class="container">
  <% @rides.reverse_each do |ride| %>
    <% if ride.driver_id == @user.id || ride.passengers.pluck(:user_id).include?(@user.id) || ride.user == @user%>
      <%= render partial: "rides/ridecard", locals: {ride: ride, user: @user} %>
    <% end %>
  <% end %>
</div>
