

<h1 class="text-center">All Rides</h1>

<div class="controls">
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Requests</button>
  <button class="filter active" data-filter=".category-2">Offers</button>
</div>


  <% if @rides.present? %>
    <div id="Container">
      <% @rides.reverse_each do |ride| %>
        <%= render partial: "ridecard", locals: {ride: ride, user: @user} %>
      <% end %>
    </div>
  <% end %>
