<div id="firstband firstbandback">
    <div class="container">
      <div class="row first" style="margin-bottom: 60px;">
        <h1 class="text-center">All Rides</h1>  
        <% if @rides.present? %>      
        <% @rides.reverse_each do |ride| %>        
          <%= render partial: "ridecard", locals: {ride: ride, user: @user} %>
        <% end %> 
        <% end %> 
      </div>
    </div>
</div>


